doctype html5
html(lang='en')
    head
        title Soldsie PSI
        link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css')
        link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js')
    body
        h1 Soldsie Product Social Index
        p this is awesome, #sold