doctype html5
html(lang='en')
    head
        title Soldsie PSI
        // bootstrap
        link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css')
        link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js')
        // js
        script(src='https://code.jquery.com/jquery-2.1.3.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/mustache.js/0.8.1/mustache.min.js')
    body
        h1 Soldsie Product Social Index
        p this is awesome, #sold